/* normalize.css v1.0.1 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects `block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

/*
 * Corrects `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

/*
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/*
 * Addresses styling for `hidden` attribute not present in IE 7/8/9, Firefox 3,
 * and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none; }

/* ==========================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevents iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

/*
 * Addresses `font-family` inconsistency between `textarea` and other form
 * elements.
 */
html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

/*
 * Addresses margins handled incorrectly in IE 6/7.
 */
body {
  margin: 0; }

/* ==========================================================================
   Links
   ========================================================================== */
/*
 * Addresses `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted; }

/*
 * Improves readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* ==========================================================================
   Typography
   ========================================================================== */
/*
 * Addresses font sizes and margins set differently in IE 6/7.
 * Addresses font sizes within `section` and `article` in Firefox 4+, Safari 5,
 * and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

/*
 * Addresses styling not present in IE 7/8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/*
 * Addresses style set to `bolder` in Firefox 3+, Safari 4/5, and Chrome.
 */
b,
strong {
  font-weight: bold; }

blockquote {
  margin: 1em 40px; }

/*
 * Addresses styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic; }

/*
 * Addresses styling not present in IE 6/7/8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/*
 * Addresses margins set differently in IE 6/7.
 */
p,
pre {
  margin: 1em 0; }

/*
 * Corrects font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

/*
 * Improves readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

/*
 * Addresses CSS quotes not supported in IE 6/7.
 */
q {
  quotes: none; }

/*
 * Addresses `quotes` property not supported in Safari 4.
 */
q:before,
q:after {
  content: '';
  content: none; }

/*
 * Addresses inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/*
 * Prevents `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* ==========================================================================
   Lists
   ========================================================================== */
/*
 * Addresses margins set differently in IE 6/7.
 */
dl,
menu,
ol,
ul {
  margin: 1em 0; }

dd {
  margin: 0 0 0 40px; }

/*
 * Addresses paddings set differently in IE 6/7.
 */
menu,
ol,
ul {
  padding: 0 0 0 40px; }

/*
 * Corrects list images handled incorrectly in IE 7.
 */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none; }

/* ==========================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */ }

/*
 * Corrects overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0; }

/* ==========================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE 6/7.
 */
form {
  margin: 0; }

/*
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/*
 * 1. Corrects color not being inherited in IE 6/7/8/9.
 * 2. Corrects text not wrapping in Firefox 3.
 * 3. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */ }

/*
 * 1. Corrects font size not being inherited in all browsers.
 * 2. Addresses margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improves appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */ }

/*
 * Addresses Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal; }

/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Corrects inability to style clickable `input` types in iOS.
 * 3. Improves usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */ }

/*
 * Re-set default cursor for disabled elements.
 */
button[disabled],
input[disabled] {
  cursor: default; }

/*
 * 1. Addresses box sizing set to content-box in IE 8/9.
 * 2. Removes excess padding in IE 8/9.
 * 3. Removes excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */ }

/*
 * 1. Addresses `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Addresses `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/*
 * Removes inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/*
 * Removes inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/*
 * 1. Removes default vertical scrollbar in IE 6/7/8/9.
 * 2. Improves readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* ==========================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* ==========================================================================
   Tables
   ========================================================================== */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
.ir, header #headline, header #logo {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px; }

.ir:before, header #headline:before, header #logo:before {
  content: "";
  display: block;
  width: 0;
  height: 100%; }

.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.clearfix:before, header:before, nav:before, #main:before, div.gallery:before,
.clearfix:after,
header:after,
nav:after,
#main:after,
div.gallery:after {
  content: " ";
  display: table; }

.clearfix:after, header:after, nav:after, #main:after, div.gallery:after {
  clear: both; }

.clearfix, header, nav, #main, div.gallery {
  *zoom: 1; }

.listreset, nav, .listreset ul, nav ul, .listreset ol, nav ol, .listreset li, nav li {
  list-style: none;
  margin: 0;
  padding: 0; }

.raleway_light, #main h1, #main h2, #main h3 {
  font-family: 'Raleway', Verdana, Helvetica, Arial, sans-serif;
  font-weight: 200; }

.raleway_normal, nav a {
  font-family: 'Raleway', Verdana, Helvetica, Arial, sans-serif;
  font-weight: 400; }

.raleway_bold {
  font-family: 'Raleway', Verdana, Helvetica, Arial, sans-serif;
  font-weight: 700; }

/* Various extendables */
html, button, input, select, textarea {
  color: black; }

body {
  font-size: 1em;
  line-height: 1.4;
  background-color: white;
  background-image: url("../gfx/body_bg.png");
  color: #231F20; }

a {
  color: #6ecddd;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

::-moz-selection, ::selection {
  background: #6ecddd;
  text-shadow: none;
  color: white; }

#container {
  width: 98%;
  max-width: 620px;
  margin: 0 auto; }

header {
  margin-bottom: 15px; }
  header #headline, header #logo {
    margin: 0;
    padding: 0;
    max-width: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain; }
  header #headline {
    float: left;
    height: 175px;
    width: 217px;
    background-image: url("../gfx/name.gif"); }
  header #logo {
    float: right;
    height: 175px;
    width: 175px;
    background-image: url("../gfx/logo.gif"); }

header, #main {
  background: white;
  padding: 15px 25px;
  border-radius: 0 0 10px 10px; }

nav li {
  display: block;
  overflow: hidden;
  float: left;
  border-radius: 5px 5px 0 0;
  padding: 5px 2%;
  margin-top: 15px;
  margin-left: 2%;
  /**
   * @TODO: Right now, we're hardcoding this width. We should replace
   * this with some dynamic way to size these appropriately
   *        (100% - margins - paddings)/intended nav entries)
   */
  width: 19.5%;
  background: white; }
nav li:first-child, nav li:nth-child(4n+1) {
  clear: left;
  margin-left: 0; }
nav a {
  display: block;
  color: black;
  text-align: center; }
nav a:hover, nav li.current-page-item, nav li.current_page_item {
  color: #6ecddd;
  text-decoration: none; }
html.flexboxlegacy nav ul {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-box-pack: justify;
  box-pack: justify;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  -ms-box-align: stretch;
  box-align: stretch;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -ms-box-lines: multiple;
  box-lines: multiple; }
html.flexboxlegacy nav li {
  width: auto;
  float: none;
  margin-left: 0.5em;
  -webkit-box-flex: 1.0;
  -moz-box-flex: 1.0;
  -ms-box-flex: 1.0;
  box-flex: 1.0; }
html.flexboxlegacy nav li:first-child {
  margin-left: 0; }
html.flexbox nav ul {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  -ms-align-items: stretch;
  align-items: stretch;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-flow: row wrap; }
html.flexbox nav li {
  display: block;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1; }
html.flexbox nav li {
  width: auto;
  float: none;
  margin-left: 0.5em; }
html.flexbox nav li:first-child {
  margin-left: 0; }

#main {
  margin-bottom: 25px; }
  #main h1, #main h2, #main h3 {
    border-bottom: 1px solid #999; }

/* Some minor style adjustments for the contact form */
.wpcf7-response-output {
  border-radius: 10px; }

input, textarea, button {
  max-width: 100%; }

/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
  margin: 5px 20px 20px 0; }

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto; }

.alignright {
  float: right;
  margin: 5px 0 20px 20px; }

.alignleft {
  float: left;
  margin: 5px 20px 20px 0; }

.aligncenter {
  display: block;
  margin: 5px auto 5px auto; }

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px; }

a img.alignnone {
  margin: 5px 20px 20px 0; }

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0; }

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%;
  /* Image does not overflow the content area */
  padding: 5px 3px 10px;
  text-align: center; }

.wp-caption.alignnone {
  margin: 5px 20px 20px 0; }

.wp-caption.alignleft {
  margin: 5px 20px 20px 0; }

.wp-caption.alignright {
  margin: 5px 0 20px 20px; }

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto; }

.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px; }

/* =Post Meta Styles (These are theme-speicfic, not WP provided)
-------------------------------------------------------------- */
a.readmore-link, p.edit-link a {
  font-size: 0.75em; }

div.entry-meta, div.posts-nav {
  margin-top: 1em;
  border-top: 1px solid #DDD;
  padding-top: 0.75em;
  font-size: 0.75em;
  font-style: italic; }

div.entry-meta {
  color: #999; }

div.posts-nav {
  text-align: center; }

/* ==========================================================================
   Style Overrides for WordPress Gallery Shortcode
   ========================================================================== */
div.gallery {
  margin: auto; }
  div.gallery .gallery-item {
    box-sizing: border-box;
    float: left;
    margin-top: 0.25em;
    text-align: center;
    /* By default, we'll do 25% (4-columns). This will be overridden by column
     * mixins below if :nth-child() is supported. */
    width: 25%;
    border-radius: 10px;
    overflow: hidden; }
  div.gallery .gallery-icon img {
    max-width: 100%;
    height: auto;
    width: auto;
    -ms-interpolation-mode: bicubic; }
  div.gallery .gallery-icon img, div.gallery .gallery-icon a {
    display: block; }
  div.gallery .gallery-caption {
    margin: 0.5em 0 0 0;
    font-size: 0.75em;
    font-style: italic;
    color: #666; }
  @media only screen and (min-width: 541px) {
    div.gallery {
      /* If nth-child is supported, we'll do columns like this */ }
      div.gallery .gallery-item:nth-child(n+0) {
        width: 22.75%;
        margin-left: 3%; }
      div.gallery .gallery-item:nth-child(4n-3) {
        clear: left;
        margin-left: 0; } }
  @media only screen and (min-width: 321px) and (max-width: 540px) {
    div.gallery {
      /* If nth-child is supported, we'll do columns like this */ }
      div.gallery .gallery-item:nth-child(n+0) {
        width: 32%;
        margin-left: 2%; }
      div.gallery .gallery-item:nth-child(3n-2) {
        clear: left;
        margin-left: 0; } }
  @media only screen and (max-width: 320px) {
    div.gallery {
      /* If nth-child is supported, we'll do columns like this */ }
      div.gallery .gallery-item:nth-child(n+0) {
        width: 48%;
        margin-left: 4%; }
      div.gallery .gallery-item:nth-child(2n-1) {
        clear: left;
        margin-left: 0; } }

/* ==========================================================================
   Media Queries
   ========================================================================== */
@media only screen and (max-width: 520px) {
  header {
    margin-bottom: 10px; }
    header #headline, header #logo {
      height: 100px; }

  header, #main {
    padding: 10px 10px;
    border-radius: 10px; }

  nav {
    text-align: center; }
    html.flexboxlegacy nav, html.flexbox nav, #container nav {
      /* We're not using flexbox display widths here, just simple buttons */ }
      html.flexboxlegacy nav ul, html.flexbox nav ul, #container nav ul {
        display: block; }
      html.flexboxlegacy nav li, html.flexbox nav li, #container nav li {
        display: inline-block; }
    nav li {
      float: none;
      border-radius: 4px;
      padding: 5px 10px;
      margin: 0 10px 10px 10px !important;
      width: auto; } }
/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links for images, or javascript/internal links
   */
  .ir a:after, header #headline a:after, header #logo a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
