/* ==========================================================================
   Style Overrides for WordPress Gallery Shortcode
   ========================================================================== */

@mixin gallery-columns-2 {
  /* If nth-child is supported, we'll do columns like this */
  .gallery-item:nth-child(n+0)  { width: 48%; margin-left: 4%; }
  .gallery-item:nth-child(2n-1) { clear: left; margin-left: 0; }
}

@mixin gallery-columns-3 {
  /* If nth-child is supported, we'll do columns like this */
  .gallery-item:nth-child(n+0)  { width: 32%; margin-left: 2%; }
  .gallery-item:nth-child(3n-2) { clear: left; margin-left: 0; }
}

@mixin gallery-columns-4 {
  /* If nth-child is supported, we'll do columns like this */
  .gallery-item:nth-child(n+0)  { width: 22.75%; margin-left: 3%; }
  .gallery-item:nth-child(4n-3) { clear: left; margin-left: 0; }
}

div.gallery {
  @extend .clearfix;
  margin: auto;

  .gallery-item {
    box-sizing: border-box;
    float: left;
    margin-top: 0.25em;
    text-align: center;

    /* By default, we'll do 25% (4-columns). This will be overridden by column
     * mixins below if :nth-child() is supported. */
    width: 25%;

    border-radius: 10px;
    overflow: hidden;
  }

  .gallery-icon {
    img { @include responsive; }
    img, a { display: block; }
  }

  .gallery-caption {
    margin: 0.5em 0 0 0;
    font-size: 0.75em;
    font-style: italic;
    color: #666;
  }

  @media only screen and (min-width: 541px)                        { @include gallery-columns-4; }
  @media only screen and (min-width: 321px) and (max-width: 540px) { @include gallery-columns-3; }
  @media only screen and                        (max-width: 320px) { @include gallery-columns-2; }
}
