/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 520px) {
  header {
    #headline, #logo { height: 100px; }
    margin-bottom: 10px;
  }

  header, #main {
    padding: 10px 10px;
    border-radius: 10px;
  }

  nav {
    html.flexboxlegacy &, html.flexbox &, #container & {
      /* We're not using flexbox display widths here, just simple buttons */
      ul { display: block; }
      li { display: inline-block; }
    }

    text-align: center;

    li {
      float: none;

      border-radius: 4px;
      padding: 5px 10px;
      margin: 0 10px 10px 10px !important;

      width: auto;
    }
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {

}