@import 'normalize', 'helpers'; /* Various extendables */

$teal: #6ecddd;

html, button, input, select, textarea {
    color: black;
}

body {
    font-size: 1em;
    line-height: 1.4;
    background: {
      color: white;
      image: url('../gfx/body_bg.png');
    }
    color: #231F20;
}

a {
  color: $teal;
  text-decoration: none;
  &:hover { text-decoration: underline; }
}

::-moz-selection, ::selection {
  background: $teal;
  text-shadow: none;
  color: white;
}

#container {
  width: 98%;
  max-width: 620px;
  margin: 0 auto;
}

header {
  @extend .clearfix;
  margin-bottom: 15px;

  #headline, #logo {
    @extend .ir;
    margin: 0;
    padding: 0;
    max-width: 50%;
    background: {
      position: center center;
      repeat: no-repeat;
      size: contain;
    };
  }

  #headline {
    float: left;
    height: 175px; // The image itself is 130px, but this will center vertically
    width: 217px;
    background-image: url('../gfx/name.gif');
  }

  #logo {
    float: right;
    height: 175px;
    width: 175px;
    background-image: url('../gfx/logo.gif');
  }
}

header, #main {
  background: white;
  padding: 15px 25px;
  border-radius: 0 0 10px 10px;
}

nav {
  @extend .clearfix, .listreset;

  // This is only gonna work on a 1-level menu, make sure wp_list_pages depth = -1
  li {
    display: block;
    overflow: hidden;

    float: left;

    border-radius: 5px 5px 0 0;
    padding: 5px 2%;
    margin-top: 15px;
    margin-left: 2%;

    /**
     * @TODO: Right now, we're hardcoding this width. We should replace
     * this with some dynamic way to size these appropriately
     *        (100% - margins - paddings)/intended nav entries)
     */
    width: ( (100%  - (3*2)   - (4*2*2) )/4);

    background: white;
  }

  li:first-child, li:nth-child(4n+1) {
    clear: left;
    margin-left: 0;
  }
  
  a {
    display: block;
    color: black;
    text-align: center;
    @extend .raleway_normal;
  }

  a:hover, li.current-page-item, li.current_page_item {
    color: $teal;
    text-decoration: none;
  }

  // The 'Old' 2009 Flexbox Implementation
  html.flexboxlegacy & {
    ul {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-box;
      display: box;

      -webkit-box-pack: justify;
      -moz-box-pack:    justify;
      -ms-box-pack:     justify;
      box-pack:         justify;

      -webkit-box-align: stretch;
      -moz-box-align:    stretch;
      -ms-box-align:     stretch;
      box-align:         stretch;

      -webkit-box-lines: multiple;
      -moz-box-lines:    multiple;
      -ms-box-lines:     multiple;
      box-lines:         multiple;
    }

    li {
      width: auto;
      float: none;
      margin-left: 0.5em;

      -webkit-box-flex: 1.0;
      -moz-box-flex:    1.0;
      -ms-box-flex:     1.0;
      box-flex:         1.0; 
    }

    li:first-child {
      margin-left: 0;
    }
  }

  // The 'New' 2011 Flexbox Implementation: this allows us to do a full-spread
  // full-width banner with an unknown number of child elements
  html.flexbox & {
    // The menu is the flex container and specifies that flex items should
    // vertically align center
    ul {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: flex;

      -webkit-align-items: stretch;
      -moz-align-items: stretch;
      -ms-align-items: stretch;
      align-items: stretch;

      -webkit-flex-flow: row wrap;
      -moz-flex-flow: row wrap;
      -ms-flex-direction: row;
      -ms-flex-wrap: wrap;
      flex-flow: row wrap;
    }

    // Each li is flex:1; which means they will all expand to fill an equal amount
    // of space
    li {
      display: block;

      -webkit-flex: 1;
      -moz-flex: 1;
      -ms-flex: 1;
      flex: 1;
    }

    li {
      width: auto;
      float: none;
      margin-left: 0.5em;
    }

    li:first-child {
      margin-left: 0;
    }
  }
}

#main {
  @extend .clearfix;
  margin-bottom: 25px;
  
  h1, h2, h3 {
    border-bottom: 1px solid #999;
    @extend .raleway_light;
  }
}


/* Some minor style adjustments for the contact form */
.wpcf7-response-output { border-radius: 10px; }
input, textarea, button { max-width: 100%; }


@import 'wp', 'gallery', 'media', 'print';